:javascript
  var marker = null;
  $(function() {
    whereami();
    initialize();
    if ($.trim($('#user_address').val()) == '' && city != null) {
      $('#user_address').val( city + ', ' + country );
      $('#user_latitude').val( latitude );
      $('#user_longitude').val( longitude );
    }
    address = $('#user_address').val();
    $('form').bind('ajax:success', success).bind('ajax:failure', failure);
    marker = addMarker(latitude, longitude, "My Location");
    showUpdate();
  });
#map_canvas{:style => "width: 400px"}
#status
