- content_for :head do
  :javascript
    $(function() {
      Tradebitcoin.view = new Tradebitcoin.views.Form();
    });
%h2 Account: #{current_user.name}
%br{:class => "clear"}
.item
  .left
    = form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put}) do |f|
      = render "form", action: "Update", f: f
  .right
    #map_canvas{:style => "width: 500px"}
    #status
%br{:class => "clear"}


  -#= render "form", action: "update", f: f
-#%h3 Cancel my account
-#%p
-#  Unhappy? #{link_to "Cancel my account", registration_path(resource_name), :data => { :confirm => "Are you sure?" }, :method => :delete}.
-#= link_to "Back", :back
