<!-- ABQIAAAARBQfmn9RdvBiquR4PDW70RTBEj2q42X4eGCXtNwsuxttAIUH7hRRw1JqYFzkaCOLoyhNAylbiI4Nog -->

<script type="text/javascript">
  $(function() {
    whereami();
    initialize();
    showResults();
  });
</script>
<div id="map_canvas"></div>
<div id="controls">
  <form id="searchIt" onsubmit="return false;">
    <input type="text" name="search" id="search" value="  Address..." onfocus="if (this.value == '  Address...') { this.style.color = '#000'; this.value=''; }" style="color: #999;" />
    <img id="go" src="/assets/go.png" alt="Go" title="Search for traders near this address or intersection." />
  </form>
</div>
