%img{:alt => "Awesome Face", :src => "/assets/awesome.png", :style => "width: 200px; height: 200px"}/
%h1 Awesome!
%p
  Thank you for joining! We believe that buying and selling Bitcoins can be an easy and safe process. Please be sure to
  = succeed "," do
    %a{:href => "/guide.html"} read our guide
  = succeed "," do
    %a{:href => "#"} tell a few friends
  and most importantly have fun.
%p In order to proceed, please login using one of the services below.
%img{:alt => "Facebook", :src => "/assets/facebook.png", :title => "Login with Facebook"}/
%img{:alt => "Twitter", :src => "/assets/twitter.png", :title => "Login with Twitter"}/
