<img src="/assets/awesome.png" style="width: 200px; height: 200px" alt="Awesome Face" />

<h1>Awesome!</h1>

<p>Thank you for joining! We believe that buying and selling Bitcoins can be an easy and safe process. Please be sure to <a href="/guide.html">read our guide</a>, <a href="#">tell a few friends</a>, and most importantly have fun.</p>

<p>In order to proceed, please login using one of the services below.</p>

<img src="/assets/facebook.png" alt="Facebook" title="Login with Facebook" />
<img src="/assets/twitter.png" alt="Twitter" title="Login with Twitter" />
<img src="/assets/google.png" alt="Google" title="Login with Google" />
<img src="/assets/openid.png" alt="Open ID" title="Login with Open ID" />
<img src="/assets/live.png" alt="Windows Live" title="Login with Windows Live" />
<img src="/assets/yahoo.png" alt="Yahoo"  title="Login with Yahoo" />

