%h1 The Problem of Bitcoin - Solved
%div{:style => "float: right; margin: 10px; padding: 20px; padding-top: 5px; padding-bottom: 5px; border: 1px solid black; background-color: #cfc; width: 240px; font-weight: bold; font-size: 12pt;"}
  %p
    \&quot;
    %big> R
    elying on the honesty of random strangers from the internet is not an effective or sustainable way to found an economy...&quot;
%p
  %big>
    %b S
  o, you've heard about the newest craze for buying and selling online:
  = succeed "." do
    %a{:href => "http://www.bitcoin.org"} bitcoin
  For the first time in history we have a cash-like currency for online transactions. It's instant, anonymous and irreversible. How do you get some so you can go buy
  %a{:href => "http://www.bitcoin.org/trade"} some of the products or services available through bitcoin?
%p
  For small transactions you can use
  = succeed "." do
    %a{:href => "http://coinpal.ndrix.com/"} CoinPal
  But this is only an option if you don't mind limiting yourself to 20 BTC total purchase per-week. And it requires a verified PayPal account, something many people don't have or know how to get. What then? How can you buy some Bitcoin?
%p Well, besides these options your only choice is to send some money to someone using other methods. Here's a table summarizing your choices.
%table.info{:cellpadding => "5", :cellspacing => "5"}
  %thead
    %tr
      %th Method
      %th Cost Per-Transaction
      %th Time to Send
      %th Time to Receive
  %tbody
    %tr{:style => "background-color: #cfc;"}
      %td
        %img{:alt => "Wire Transfer", :src => "/assets/wire_transfer.png", :title => "Wire Transfer"}/
      %td
        %h4 $15 - $50
        USD
        %em or more.
      %td 1 hour+
      %td
        %em ?
    %tr{:style => "background-color: #cfc;"}
      %td
        %img{:alt => "Western Union", :src => "/assets/western_union.png"}/
      %td
        %h4 $20
        USD
        %em or more.
      %td 1 hour+
      %td
        %em ?
    %tr{:style => "background-color: #cfc;"}
      %td
        %img{:alt => "Moneygram", :src => "/assets/moneygram.png"}/
      %td
        %h4 $20
        USD
        %em or more.
      %td 1 hour+
      %td
        %em ?
    %tr{:style => "background-color: #ffc;"}
      %td
        %img{:alt => "ACH Transaction", :src => "/assets/cheque.png", :title => "ACH Transaction"}/
      %td
        %h4 $0
        USD
      %td
        1 day+
        %h4 *
      %td
        %em ?
    %tr{:style => "background-color: #ffc;"}
      %td
        %img{:alt => "FedEx Overnight", :src => "/assets/fedex_express.png"}/
      %td
        %h4 $15
        USD
        %em or more.
      %td
        1 day+
        %h4 **
      %td
        %em ?
    %tr{:style => "background-color: #ffc;"}
      %td
        %img{:alt => "UPS Overnight", :src => "/assets/ups.png"}/
      %td
        %h4 $15
        USD
        %em or more.
      %td
        1 day+
        %h4 **
      %td
        %em ?
    %tr{:style => "background-color: #fcc;"}
      %td
        %img{:alt => "Postal Service", :src => "/assets/usps.png"}/
      %td
        %h4 $0.44
        USD
        %em or more.
      %td
        %em ????
      %td
        %em ?
  %tfoot
    %tr
      %th{:colspan => "4"}
        %p
          %small/
        %h4 *
        1 day is best case, this method can take up to 7 to 10 days, depending on the bank.
        %br/
        %small/
        %h4 **
        Cheaper shipping methods are available but overnight service costs $15 USD or more.
%p No matter what method you choose to send money you will always have the following problems.
%ol
  %li
    You don't know if the person you're sending money to is
    = succeed "." do
      %b trustworthy
  %li
    You have no way of
    %b verifying
    that your exchange partner owns bitcoins to trade with you.
  %li
    If you send Western Union, Moneygram, FedEx, UPS or postal mail you have no way to prove that the money was
    %b received
    by your exchange partner.
  %li
    There is no way to buy bitcoins
    %b today
    that costs less than $15 USD minimum.
%table{:style => "float: right; margin: 10px; padding: 10px; border: 2px solid black;"}
  %tbody
    %tr
      %td{:colspan => "2"}
        %img{:align => "right", :alt => "World Money", :src => "/assets/boy.png", :style => "margin: 10px"}/
    %tr
      %th{:colspan => "2"} Local Exchange
    %tr{:style => "background-color: #cfc"}
      %td Cost:
      %td Negotiable
    %tr{:style => "background-color: #cfc"}
      %td Time to Send:
      %td 1 hour+
    %tr{:style => "background-color: #cfc"}
      %td Time to Receive:
      %td 1 hour+
%p The first point is the most damning for the widespread acceptance of Bitcoin. Relying on the honesty of random strangers from the internet is not an effective or sustainable way to found an economy. Without reputation and public liability under the law it's impossible for people to place trust in a currency.
%p
  So what's the solution?
  %b The solution is local trading.
  Find a local Bitcoin user willing to trade with you. Set up a time to meet in person for the trade and how much you're willing to pay. You'd have to pay $15 minimum to send money to an unknown trader half-way across the world. Why not pay $15 for a secure trade locally? They'd show you they have the Bitcoins in stock right on their Bitcoin client. Physically hand them some cash and you'll have your bitcoins in no time at all.
%p That's what this site is about. It's about finding those local Bitcoin users and making it easy to connect with them. And because Bitcoin empowers technophiles and Internet users with instant online-cash goodness; it's ultimately about building a better world through Bitcoin.
%p
  I hope you will consider participating in this effort. We won't
  %a{:href => "/privacy_policy"} sell, license or lend
  your information. Read our
  %a{:href => "/transaction_guide"} transaction guide
  to get an idea of how a transaction will go. If you already have some Bitcoin you're willing to sell it could be a way to make some extra money on the side. If you don't have some you can buy a few
  %a{:href => "http://www.bitcoin.org/trade#Currency_exchange"} using traditional methods
  and then make them available to other Bitcoin users for profit.
%p Bitcoin empower individuals by giving us a way to preserve our anonymity if we choose. It gives us the certainty of instant and irreversible transactions. And most importantly it allows us to conduct business online without paying intermediary parties for the privilege. Bitcoin is a way for anyone who conducts business online to regain the rights and privileges they have in the offline world. Because of this it is a great goal to contribute to.
%p
  Sincerely,
  %br/
  %b Jonathan Jeffus
