%h1 Privacy Policy
%p We value your privacy. This site is about connecting people and making the world a better place - not about collecting information. So here's our privacy policy.
%p We collect only information you explicitly give us to help you connect with other Bitcoin users. We will never sell, license or distribute your information to anyone for any reason. If you choose to login through Facebook, Twitter or Google Apps we will not collect any information from your profile or feed(s). These are used purely as a convenient authentication system.
%p Other than ordinary server logging we do not track our users. When you delete or change your information then it is removed or changed permanently. We keep regular back-ups of the database for a period of two weeks - after which the back-up is automatically purged.
%p Thank you for using our services.
