%h1 Acknowledgements &amp; Thanks
%p
  This site uses
  %a{:href => "http://www.maxmind.com"} MaxMind's GeoIP
  service to show relavant search results to incoming users.
%p
  Portions of this site use (or have used)
  %a{:href => "https://github.com/geocommons/geocoder"} Geocoder
  by the great guys at
  = succeed "." do
    %a{:href => "http://geocommons.com/"} Geocommons
%p Thanks to my wife Gen.
