<h1>Acknowledgements &amp; Thanks</h1>

<p>This site uses <a href="http://www.maxmind.com">MaxMind&#39;s GeoIP</a> service to show relavant search results to incoming users.</p>

<p>Portions of this site use (or have used) <a href="https://github.com/geocommons/geocoder">Geocoder</a> by the great guys at <a href="http://geocommons.com/">Geocommons</a>.</p>
