%h1 Local Transactions
%p So how does a typical transaction go? Purchasing Bitcoin can be a great way to meet like-minded people in your area. It works like this:
%ol
  %li Search tradebitcoin.com for a local trader.
  %li Contact them through their listed contact methods.
  %li Find out how much you are going to pay them for the trade.
  %li Arrange a time to meet for the transaction.
  %li Meet and exchange.
%p Follow the same common sense rules you would use meeting anyone for the first time. It's a good idea to meet at a public location. Be sure to have the cash in hand before you send your Bitcoins. Conversely, don't hand over cash until you've seen that your trading partner has Bitcoins to trade.
%p
  Remember, be safe. Many other sites (like
  = succeed ")" do
    %a{:href => "http://www.couchsurfing.com"} Couch Surfing
  have shown that networks of trustworty people are a powerful thing. Have fun and good luck.
