<h1>Local Transactions</h1>

<p>So how does a typical transaction go? Purchasing Bitcoin can be a great way to meet like-minded people in your area. It works like this:</p>

<ol>
  <li>Search tradebitcoin.com for a local trader.</li>
  <li>Contact them through their listed contact methods.</li>
  <li>Find out how much you are going to pay them for the trade.</li>
  <li>Arrange a time to meet for the transaction.</li>
  <li>Meet and exchange.</li>
</ol>

<p>Follow the same common sense rules you would use meeting anyone for the first time. It&#39;s a good idea to meet at a public location. Be sure to have the cash in hand before you send your Bitcoins. Conversely, don&#39;t hand over cash until you&#39;ve seen that your trading partner has Bitcoins to trade.</p>

<p>Remember, be safe. Many other sites (like <a href="http://www.couchsurfing.com">Couch Surfing</a>) have shown that networks of trustworty people are a powerful thing. Have fun and good luck.</p>
